<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather APP</title>
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <form  id='my-form'>
      <label for="city">Szukaj miasta</label>
      <input type="text" name="city" id="city" autocomplete="off">
      <input type="button" id="btn" src="search.svg">
    </form>
    <div class="result"></div>
    <script src="static/app.js"></script>
  </body>
</html>
